  
<div data-controller="project-chart" class="flex flex-col flex-1/3 items-center p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <h2 class="text-xl font-semibold mb-4">Today</h2>
  <div data-project-chart-target="chartContainer" class=" z-[999]! w-64 md:w-full! h-64 flex justify-center items-center">
  </div>
</div>