<div class="relative " data-controller="project-searchbar" >
    <input type="text" data-project-searchbar-target="projectSearchbarInput" placeholder="Search for a project" data-action="input->project-searchbar#search click->project-searchbar#search" class="transition-all duration-150 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 z-[100]" />
  <div data-project-searchbar-target="projectList" class="opacity-0 pointer-events-none top-full drop-shadow-2xl absolute max-h-32 overflow-auto left-0 p-2.5 z-50 border-t-0 w-full rounded-b-md bg-gray-50 border border-gray-300 text-gray-400 dark:bg-gray-700 dark:border-gray-600  text-small">
  </div>
</div>
