  
<div data-controller="time-table" class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700">
  <h2 class="text-xl font-semibold mb-4">Recent activity</h2>
  <div  class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div data-ag-theme-mode="dark-blue" data-time-table-target="tableGrid" class="w-full h-[100px] min-w-0 ">
    </div>
  </div>
</div>