<div class="flex flex-col gap-6 w-full">
  <div class="flex flex-col gap-2">
    <!--input with filters -->
    <input type="date" class="w-full rounded-lg bg-gray-800 p-4 text-white" />
    <!--pill shaped filters -->
    <%= render FiltersComponent.new(
            filters: ["today", "this_week", "this_month"],
            active_filter: params[:range] || "today"
            )
      %>
  </div>
  <div data-controller="stats-cards-component" class="grid grid-rows-2 grid-cols-2 gap-2 w-full ">
    <!-- stats cards -->
    <%= render StatsCardsComponent.new(
        titles: ["total_duration", "billable", "average_per_day"]
    )%>
  </div>
  <div class="flex gap-2 flex-1">
    <!-- hours tracked per week -->
    <div class="flex flex-col flex-1/2">
      <h2 class="text-lg text-gray-400">Hours tracked</h2>
      <div>
        This is a placeholder for the mini bar chart
      </div>
    </div>
    <!-- by project breakdown pie chart percentage -->
    <div class="flex flex-col flex-1/2">
      <h2 class="text-lg text-gray-400">Total tracked</h2>
      <div class="flex flex-col gap-2">
        <div>
          This is a placeholder for a pie chart
        </div>
        <div class="flex flex-col ">
          <ul>
            <li class="flex items-center gap-2"><span class="block rounded-full bg-amber-400 w-2 h-2"></span>legend item 1</li>
            <li class="flex items-center gap-2"><span class="block rounded-full bg-purple-400 w-2 h-2"></span>legend item 1</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex gap-2 w-full items-center justify-center">
    <!-- action buttons -->
    <button class="border border-gray-600 px-6 py-2 rounded-xl bg-gray-800">CSV</button>
    <button class="border border-gray-600 px-6 py-2 rounded-xl bg-gray-800">XLSX</button>
    <button class="border border-gray-600 px-6 py-2 rounded-xl bg-gray-800">PDF</button>
  </div>
</div>
